<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button slot="start" (click)="navigateBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <ion-title>
        Live Chat
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <div class="row" *ngFor="let message of chatMessages">
      <div class="col-9 username">
        <ion-label>{{ message.senderUsername }}:</ion-label>
      </div>
      <div class="col-3 timeSent">
        <ion-label slot="end"  class="timeSent"> {{message.timeSent | date: 'shortTime'}}</ion-label>
      </div>
      <div class="col message">
        <ion-text>{{ message.messageText }}</ion-text>
      </div>
    </div>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons class="message-box">
      <ion-input [(ngModel)]="newMessage" placeholder="Write your message..."></ion-input>
      <ion-button (click)="sendMessage()">Send</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
