<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>*** Añadir buscador con filtros ***</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-card *ngFor="let job of jobList">
      <ion-card-header>
        <ion-label>{{job.creator.username}}</ion-label>
        <ion-card-title><h1>{{job.name}}</h1></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="row">
          <div class="col">
            <ion-text>{{job.description}}</ion-text>
          </div>
          <div class="col-2">
            <ion-fab-button class="ion-apply-button" (click)="openJobInfo(job._id!)">
              <ion-icon name="information" ></ion-icon>
            </ion-fab-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

  </ion-list>

  <ion-infinite-scroll threshold="100px"
                       (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
