<ion-content>
  <h1>Login</h1>

  <form [formGroup]=authenticationForm>
    <div class="row">
      <ion-item>
        <ion-input labelPlacement="stacked" label="Username" placeholder="Enter username" formControlName="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input labelPlacement="stacked" label="Password" placeholder="Enter password" formControlName="password" type="password"></ion-input>
      </ion-item>
      <div class="col-12 error-message">
        <small *ngIf="loginAttFailed">Login Failed</small>
      </div>
      <ion-item>
        <ion-buttons slot="start">
          <ion-button (click)="navigateToRegister()">Sign Up</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button color="" (click)="attemptLogin()">Log In</ion-button>
        </ion-buttons>
      </ion-item>
    </div>
  </form>
</ion-content>
